{
  "openapi": "3.0.1",
  "info": {
    "title": "Kura API",
    "description": "API specification for Kura's agent and session management endpoints",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://backend.trykura.com"
    }
  ],
  "paths": {
    "/run_agent": {
      "post": {
        "description": "Initiates an agent run with specified parameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent run initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/load_session_execution_data/{session_id}": {
      "get": {
        "description": "Retrieves execution data for a specific session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Unique identifier for the session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session execution data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionExecutionData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SessionExecutionData": {
        "type": "object",
        "description": "Response schema for session execution data"
      },
      "AgentRunRequest": {
        "type": "object",
        "required": ["agent_id", "api_key"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Unique identifier for the agent"
          },
          "parameters": {
            "type": "object",
            "description": "Key-value pairs of parameters for the agent run",
            "additionalProperties": {
              "type": "string"
            }
          },
          "api_key": {
            "type": "string",
            "description": "API key for authentication"
          }
        }
      },
      "AgentRunResponse": {
        "type": "object",
        "description": "Response schema for agent run initiation"
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}